# SQL Chapter 17

In [2]:
import sqlite3
connection = sqlite3.connect('books.db')

In [3]:
import pandas as pd

pd.options.display.max_columns = 10
pd.read_sql('SELECT * FROM authors', connection, index_col=['id'])

DatabaseError: Execution failed on sql 'SELECT * FROM authors': no such table: authors

In [ ]:
pd.read_sql('SELECT * FROM titles', connection)

In [ ]:
df = pd.read_sql('SELECT * FROM author_ISBN', connection)
df. head()

## Creating Tables using different sorting methods:
In SQL it is possible to create different tables that allow for data to be sorted a number of ways, from titles, to intigers and even dates we are able to organize data quickly with a command.

In [ ]:
pd.read_sql("""SELECT id, first, last FROM authors Where first LIKE '_b%'""", connection, index_col=['id'])

In [ ]:
pd.read_sql('SELECT title FROM titles ORDER BY title ASC', connection)

In [ ]:
pd.read_sql("""SELECT id, first, last FROM authors ORDERBY last DESC, first ASC""", connection, index_col=['id'])

In [ ]:
pd.read_sql("""SELECT isbn, title, edition, copyright FROM titles WHERE title LIKE '%How to Program' ORDER BY title""", connection)

## Merging Data from Mutliple Tables:
INNER JOIN allows us to merge data from multiple tables, refered to as joining tables. The ON clause uses a primary-key column in one table and a foreign-key column in the other to determine which rows to merge from each table. This qualitifed syntax is required if the columns have the same name in both tables.

In [ ]:
pd.read_sql("""SELECT first, last, isbn FROM authors INNER JOIN author_ISBN ON authors.id = author_ISBN.id ORDER BY last, first""", connection).head()

## INSERT INTO 
INSERT INTO is used to insert a a row into a table. This is done by ceating a Cursor object that is obtained by calling the connection's cursor method

In [ ]:
cursor = connection.cursor()

In [ ]:
cursor = cursor.execute("""INSERT INTO authors (first, last) VALUES ('SUE', 'RED')""")

The list of column names followed by th SQL keyword VALUES and a comma-seperated list of values in parentheses. The value for the id column isn't specified because it's an autonicremented column. It is important to note that a string contianing a single quote must have two single quotes in the position where the single quote appears. The first acts as an escape cahracter for the second.

In [ ]:
pd.read_sql('SELECT id, first, last FROM authors', connection, index_col=['id'])

## UPDATE Statement

In [ ]:
cursor = cursor.execute("""UPDATE authors SET last='Black' WHERE last ='Red' and first='Sue'""")

Row counts are used to see if an update has been sucessfully made, and the number that have been exicuted should there be more than one.

In [ ]:
cursor.rowcount

In [ ]:
pd.read_sql('SELECT id, first, last FROM authors', connection, index_col=['id'])

## DELETE FROM

In [ ]:
cursor = cursor.execute('DELETE FROM authors WHERE id=6')

In [ ]:
cursor.rowcount

In [ ]:
pd.read_sql('SELECT id, first, last FROM authors', connection, index_col=['id'])