Alexandra Coffin
2023/ 2/ 14
Data Analytics
Dr. Case
Module 5, Task 4

# SQL Chapter 17
(1) Follow the instructions in 17.2.1 (starting pg 730) 
(2) Don't work in interactive mode - use a notebook.
(3) In your Python code, import the sqlite3 module and use the connect function to create a connection to your database.
(4) Import pandas as pd
(5) Use pd options.display to set the max_columns to 10
(6) Use pd read_sql fuction to select everything (*) from the authors table, then the titles table, then the author_ISBN table.
(7) Complete 17.2.2 SELECT (1 query)
(8) Complete 17.2.3 WHERE (3 queries)
(9) Complete 17.2.4 ORDER BY (4 queries)
(10) Complete 17.2.5 INNER JOIN (1 query)
(11) Complete 17.2.6 INSERT INTO (2 queries)
(12) Complete 17.2.7 UPDATE (2 queries)
(13) Complete 17.2.8 DELETE FROM (2 queries)
(14) Final Results, SELECT * from each table and display the final state of each of the 3 tables.
Required: Use Section headings in your Markdown to make it clear that each of these 8 sections are shown in your notebook. They should be numbered 1-8 and include the SQL keyword shown above. Use a heading before your the final results showing all 3 tables as well. 
Required: Include the title of the notebook, and your name and date at the top.
Do these consistently. A heading and section titles is required in every notebook.

In [1]:
import sqlite3

connection = sqlite3.connect('books.db')

In [2]:
import pandas as pd

pd.options.display.max_columns = 10
pd.read_sql('SELECT * FROM authors', connection, index_col=['id'])

DatabaseError: Execution failed on sql 'SELECT * FROM authors': no such table: authors

In [ ]:
pd.read_sql('SELECT * FROM titles', connection)

In [ ]:
df = pd.read_sql('SELECT * FROM author_ISBN', connection)
df.head()

## Creating Tables using different sorting methods:
In SQL it is possible to create different tables that allow for data to be sorted a number of ways, from titles, to intigers and even dates we are able to organize data quickly with a command.

In [ ]:
pd.read_sql("""SELECT id, first, last FROM authors Where first LIKE '_b%'""", connection, index_col=['id'])

In [ ]:
pd.read_sql('SELECT title FROM titles ORDER BY title ASC', connection)

In [ ]:
pd.read_sql("""SELECT id, first, last FROM authors ORDERBY last DESC, first ASC""", connection, index_col=['id'])

In [ ]:
pd.read_sql("""SELECT isbn, title, edition, copyright FROM titles WHERE title LIKE '%How to Program' ORDER BY title""", connection)

## Merging Data from Mutliple Tables:
INNER JOIN allows us to merge data from multiple tables, refered to as joining tables. The ON clause uses a primary-key column in one table and a foreign-key column in the other to determine which rows to merge from each table. This qualitifed syntax is required if the columns have the same name in both tables.

In [ ]:
pd.read_sql("""SELECT first, last, isbn FROM authors INNER JOIN author_ISBN ON authors.id = author_ISBN.id ORDER BY last, first""", connection).head()

## INSERT INTO 
INSERT INTO is used to insert a a row into a table. This is done by ceating a Cursor object that is obtained by calling the connection's cursor method

In [ ]:
cursor = connection.cursor()

In [ ]:
cursor = cursor.execute("""INSERT INTO authors (first, last) VALUES ('SUE', 'RED')""")

The list of column names followed by th SQL keyword VALUES and a comma-seperated list of values in parentheses. The value for the id column isn't specified because it's an autonicremented column. It is important to note that a string contianing a single quote must have two single quotes in the position where the single quote appears. The first acts as an escape cahracter for the second.

In [ ]:
pd.read_sql('SELECT id, first, last FROM authors', connection, index_col=['id'])

## UPDATE Statement

In [ ]:
cursor = cursor.execute("""UPDATE authors SET last='Black' WHERE last ='Red' and first='Sue'""")

Row counts are used to see if an update has been sucessfully made, and the number that have been exicuted should there be more than one.

In [ ]:
cursor.rowcount

In [ ]:
pd.read_sql('SELECT id, first, last FROM authors', connection, index_col=['id'])

## DELETE FROM

In [ ]:
cursor = cursor.execute('DELETE FROM authors WHERE id=6')

In [ ]:
cursor.rowcount

In [ ]:
pd.read_sql('SELECT id, first, last FROM authors', connection, index_col=['id'])

## 16. Final Results

In [ ]:
pd.read_sql('SELECT * FROM authors', connection, index_col=['id'])