Alexandra Coffin
2023/ 2/ 14
Data Analytics
Dr. Case
Module 5, Task 1

# Chapter 9

9.1 Introduction
9.2 Files
9.3 Text-File Processing
9.3.1 Writing to a Text File: Introducing the with Statement
9.3.2 Reading Data from a Text File
9.4 Updating Text Files
9.5 Serialization with JSON
9.6 Focus on Security: pickle Serialization and Deserialization
9.7 Additional Notes Regarding Files
9.8 Handling Exceptions
9.8.1 Division by Zero and Invalid Input
9.8.2 try Statements
9.8.3 Catching Multiple Exceptions in One except Clause
9.8.4 What Exceptions Does a Function or Method Raise?
9.8.5 What Code Should Be Placed in a try Suite?
9.9 finally Clause
9.10 Explicitly Raising an Exception
9.11 (Optional) Stack Unwinding and Tracebacks
9.12 Intro to Data Science: Working with CSV Files
9.12.1 Python Standard Library Module csv
9.12.2 Reading CSV Files into Pandas DataFrames
9.12.3 Reading the Titanic Disaster Dataset
9.12.4 Simple Data Analysis with the Titanic Disaster Dataset
9.12.5 Passenger Age Histogram

## Accounts example
Following Accounts example on pages 322 - 330

### Importing modules for use:

In [1]:
import os
import json
import csv
import pandas as pd

In [2]:
with open('accounts.txt', mode='w') as f:
    f.write('100 Jones 24.98\n')
    f.write('200 Doe 345.67\n')
    f.write('300 White 0.00\n')
    f.write('400 Stone -42.16\n')
    f.write('500 Rich 244.62\n')

In [3]:
print('100 Jones 24.98')

100 Jones 24.98

In [4]:
with open('accounts.txt', mode='r') as f:
    print(f'{"Account":<10}{"Name":<10}{"Balance":>10}')
    for record in f:
        account, name, balance = record.split()
        print(f'{account:<10}{name:<10}{balance:>10}')

Account   Name         Balance
100       Jones          24.98
200       Doe           345.67
300       White           0.00
400       Stone         -42.16
500       Rich          244.62

## Updating Account Information:
The statement unpacks each record into account, name and balance. We write the record containing the new line to a temp_file, if the account number matches, otheriwse we will write a new record contianing the information entirly. It also allows us to create a new temp file and delete the previous and then update the new record by changing the temp file.

In [5]:
accounts = open('accounts.txt', 'r')
temp_file = open('temp_file.txt', 'w')
with accounts, temp_file:
    for record in accounts: 
        account, name, balance = record.split()
        if account != '300':
            temp_file.write(record)
        else:
            new_record = ' '.join([account, 'Williams', balance])
            temp_file.write(new_record+'\n')

In [6]:
os.remove('accounts.txt')

In [7]:
os.rename('temp_file.txt', 'accounts.txt')

## Page 322 Text File Processing
Objective: writing to a text file and being able to access information to perform assorted tasks.
Create a grades.txt file and write to it the following three records consisting of student IDs, last names and letter grades.

In [8]:
with open('grades.txt', mode='w') as grades:
    grades.write('1 Red A\n')
    grades.write('2 Green B\n')
    grades.write('3 White A\n')

## Page 329 JSON Example
Creating a JSON file to create a directory. JSON files are smaller and faster, based on JavaScript

In [9]:
grades_dict = {'gradebook':
              [{'student_id': 1, 'name': 'Red', 'grade': 'A'},
              {'student_id': 2, 'name': 'Green', 'grade': 'B'},
              {'student_id': 3, 'name': 'White', 'grade': 'A'}]}

In [10]:
with open('grades.json', 'w') as grades:
    json.dump(grades_dict, grades)

In [11]:
with open('grades.json', 'r') as grades:
    print(json.dumps(json.load(grades), indent=4))
    {
        "gradebook": [
            {
            "student_id": 1,
            "name": "Red",
            "grade": "A"
            },
            {
                "student_id": 2,
                "name": "Green",
                "grade": "B"
            },
            {
                "stendent_id": 3,
                "name": "White",
                "grade": "A"
            }
            
        ]
    }

{
    "gradebook": [
        {
            "student_id": 1,
            "name": "Red",
            "grade": "A"
        },
        {
            "student_id": 2,
            "name": "Green",
            "grade": "B"
        },
        {
            "student_id": 3,
            "name": "White",
            "grade": "A"
        }
    ]
}

## Page 355 Example

In [12]:
def try_it(value):
    try:
        x = int(value)
    except ValueError:
        print(f'{value} could not be converted to an integer')
    else:
        print(f'int({value}) is {x}')

In [13]:
try_it(10.7)

int(10.7) is 10

In [14]:
try_it('Python')

Python could not be converted to an integer

##  9.9 Finally Clause:
A clause gauranteed to execute, regardless of whether its try suite executes sucessfully or an exception occurs. In Python we tend to use the with statement for this purpose, and place variations of "clean up" code in a finally suite. If the conrotl successfully reaches the end of the try suite, the except clause is skipped. The else clasue executes and finally clause displays a message showing it always executes.

In [15]:
try:
    print('try suite with no exceptions raised')
except:
    print('this will not execute')
else:
    print('else executes because no exceptions in the try suite')
finally:
    print('finally always executes')

try suite with no exceptions raised
else executes because no exceptions in the try suite
finally always executes

In [16]:
try:
    print('try suite that raises an exception')
    int('hello')
    print('this will not execute')
except ValueError:
    print('a ValueError occurred')
else:
    print('else will not execute because an exception occurred')
finally:
    print('finally always executes')

try suite that raises an exception
a ValueError occurred
finally always executes

In [17]:
open('grades.txt')

In [18]:
try:
    with open('grades.txt', 'r') as accounts:
        print(f'{"ID":<3}{"Name":<7}{"Grade"}')
        for record in accounts:
              student_id, name, grade = record.split()
              print(f'{student_id:<2}{name:<7}{grade}')
except FileNotFoundError:
              print('The file name you specified does not exist')

ID Name   Grade
1 Red    A
2 Green  B
3 White  A

## Self Check on 338

In [19]:
def try_it(value):
    try:
        x = int(value)
    except ValueError:
        print(f'{value} could not be converted to an integer')
    else:
        print(f'int({value}) is {x}')
    finally:
        print('finally executed')

In [20]:
try_in(12.7)

NameError: name 'try_in' is not defined

In [21]:
try_it('Python')

Python could not be converted to an integer
finally executed

## 9.11 Unwinding Stacks
Each exception object stores information indicating the series of function calls that led to the exception. The traceback shows the type of eception that occured, followed by the complete function call stack that had lead to the raise point. Stack's bottom call is listed first and the top is last, so the interpreter displays text as a reminder.

In [22]:
def function1():
    function2()

In [23]:
def function2():
    raise Exception('An exception occured')

In [24]:
function1()

Exception: An exception occured

# 9.12Working with a CSV File:
CSV module provides functions for working with CSV files. There are other Python librabries that have buildin CSV as well. It is possible to write to a CSV file as well as reading and manipulating data by usuing Pandas.

CSV module's reader function returns an object that reasds CSV-format data from the specified file object. Returns of each recors list values which unpack into variables account, name and balance then displays them. It is imparative that we keep track as commas as this can create a CSV record with more fields than the origianl, creating an error as the program reads a line before the errored line.

In [25]:
with open('accounts.csv', mode='w', newline='') as accounts:
    writer = csv.writer(accounts)
    writer.writerow([100, 'Jones', 24.98])
    writer.writerow([200, 'Doe', 345.67])
    writer.writerow([300, 'White', 0.00])
    writer.writerow([400, 'Stone', -42.16])
    writer.writerow([500, 'Rich', 224.62])

In [26]:
[100, 'Jones, Sue', 24.98]

[100, 'Jones, Sue', 24.98]

In [27]:
with open('accounts.csv', 'r', newline='') as accounts:
    print(f'{"Account":<10}{"Name":<10}{"Balance":>10}')
    reader = csv.reader(accounts)
    for record in reader:
        account, name, balance = record
        print(f'{account:<10}{name:<10}{balance:>10}')

Account   Name         Balance
100       Jones          24.98
200       Doe           345.67
300       White            0.0
400       Stone         -42.16
500       Rich          224.62

## 9.12 Pandas and DataFrames:
This examples utilizes previously created accounts.csv as a way to examine the creation of dataframes using these files.

In [28]:
df = pd.read_csv('accounts.csv',
                names=['account', 'name', 'balance'])

In [29]:
df

   account   name  balance
0      100  Jones    24.98
1      200    Doe   345.67
2      300  White     0.00
3      400  Stone   -42.16
4      500   Rich   224.62